<p class="navbar navbar-light justify-content-center fs-3 mb-5" style="background-color: darkseagreen;">
    AÑADIR GANADO
</p>

<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
    <div class="form-group">
    <label for="idganado">Id Ganado</label>
    <input type="number" name="idganado" formControlName="idganado" autocomplete="off" class="form-control input-sm">
    </div>

    <div class="form-group">
    <label for="type">Tipo</label>
    <select name="type" formControlName="type" class="form-control input-sm">
        <option value="Equino">Equino</option>
        <option value="Bovino">Bovino</option>
        <option value="Ovino">Ovino</option>
    </select>
    </div>

    <div class="form-group">
    <label for="gender">Genero</label>
    <select name="gender" formControlName="gender" class="form-control input-sm">
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
    </select>
    </div>

    <div class="form-group">
        <label for="birth">Nacimiento</label>
        <input type="date" name="birth" formControlName="birth" autocomplete="off" class="form-control input-sm">
        </div>

    <div class="form-group">
        <label for="death">Baja</label>
        <input type="date" name="death" formControlName="death" autocomplete="off" class="form-control input-sm">
    </div>
 
    <div class="form-group">
        <label for="group">Grupo</label>
        <input type="text" name="group" formControlName="group" autocomplete="off" class="form-control input-sm">
    </div>

    <button class="btn btn-success" (click)="cancel()">Cancel</button>&nbsp;
    <button type="submit" class="btn btn-success" >Register</button>
</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>

 