<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">GESTOR DE FINCAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" 
    aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExample">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" *ngIf="logoutbtn" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" *ngIf="logoutbtn" routerLink="listfincas" routerLinkActive="active">Fincas</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" *ngIf="logoutbtn" routerLink="listganado" routerLinkActive="active">Ganado</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Inicio de sesion</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" *ngIf="loginbtn" routerLink="register" routerLinkActive="active">Registrarse</a>
    </li>
    <li class="nav-item">
    <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">Salir</button>
    </li>
    </ul>
    </div>
</nav>
<router-outlet></router-outlet>